:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #6c757d;
  --color-gray-dark: #343a40;
  --color-gray-light: #f8f9fa;
  --color-gray-lighter: #f1f3f5;
  --color-gray-lightest: #f8f9fa;

  &[data-bs-theme='dark'] {
    --bs-body-bg: #222229;
  }

  &[data-bs-theme='light'] {
    --bs-body-bg: #fffffa;
  }
}
