@import './base.css';

.loader {
  background-color: #f5f5f5aa;
  z-index: 1000;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.product-list-item {
  cursor: pointer;
  background-position: center;

  background-size: cover;

  &:hover {
    background-color: #fefeff11;
    transition: background-color 0.3s;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .product-list-item-image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .product-item-buttons {
      transition: opacity 0.3s;
    }

    .product-list-item-image-empty {
      width: 100%;
      height: 100%;
      font-size: 4rem;
      color: #ccc;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .product-list-item-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center;
    }
  }
}
